* {
	box-sizing: border-box;
	margin:0;
	padding:0;
}



/*NAV*/

@font-face{
		font-family:"GloriaHallelujah";
		src: url(../fonts/GloriaHallelujah.ttf);
}

@font-face{
	font-family:"Vladimir Script";
	src: url(../../fonts/VLADIMIR.TTF);
}

@font-face{
	font-family:"PrincessSofia";
	src: url(../fonts/PrincessSofia-Regular.ttf);
}

nav {
	display: inline-block;
    top:-55px;
    position: relative;
	/*margin:5px ;*/
	width:20%;
	font-family: "GloriaHallelujah";
	font-size: 24px;
	float: right;
}

header{
	width: 100%;
	height: 65px;
	top:-12px;
    position: absolute;
	/*margin:20px;*/
	float: right;
	background-color: #173b9e;

}
 
nav ul {
	list-style:none;
}

#logo{
	width: 20% ; 
	height: 60px;
	padding: 20px 8px 8px 15px; /*Posicionamiento*/
	background:#173b9e;
}
 /*Tamaño de la barra*/
nav > ul {
	display:table;
	width:90%;
	background:#173b9e;
	float: right;
}

 
nav > ul li {
	display:table-cell;
}
 
/*Documentos*/

nav > ul > li:hover > ul {
	display:block;
	height:100%;
}
 
nav > ul > li > ul {
	display:block;
	position:absolute;
	background:#000;
	left:0;
	right:0;
	overflow:hidden;
	height:0%;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

nav > ul li a {
	color:#fff;
	display:block;
	line-height:20px;
	padding:20px;
	position: relative;
	text-align:center;
	text-decoration:none;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
 
nav > ul > li > ul > li a:hover {
	background:#5da5a2;
}
 
nav > ul > li > a span {
	background:#174459;
	display:block;
	height:100%;
	width:100%;
	left:0;
	position:absolute;
	top:-55px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

nav > ul > li > a span {
	background:#174459;
	display:block;
	height:100%;
	width:100%;
	left:0;
	position:absolute;
	top:-45px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
 
nav > ul > li > a span .icon {
	display:block;
	line-height:60px;
}
 
nav > ul > li > a:hover > span {
	top:0;
}
 
/*Colores Nav*/

 
nav ul li a .salir {
	background:#ffd635;
}

/*///////////////ASIDE\\\\\\\\\\\\\\\*/

section {
	background: #fff;
	width: 20%;
	max-width: 1500px;
	margin: 50px 10px 10px 10px;
	font-family: "ebrima";
	font-size: 14px;
	display: inline-block;
}


aside ul li {
	font-family: "GloriaHallelujah";
	font-size: 16px;
	background:#173b9e;
	list-style: none;
	width: 100%;	
	padding: 5px;
	display: block;

}
aside ul {
	margin-top: 10px;
	display: block;
}
aside li {
	width: 100%;
	height: 40px;
	border-bottom: 1px solid #fff;
}
p.menu {
	position: relative;
	padding-right: 25px;
	color:#ffd635;
	/*opacity: .6;*/
	font-size: 1.2em;
}
p.art {
	position: relative;
	padding-right: 25px;
	color:#ffd635;
	/*opacity: .6;*/
	font-size: 1.2em;
}
div.barra {
	position: absolute;
	height: 50px;
	width: 0px;
	background: #aaa;
	/*opacity: .1;*/
}
aside li:hover div.barra{
	width:250px;
	height: 35px;
}

/*/////////////////USer\\\\\\\\\\\\\\\\\\\\\\*/ 

#prin{
	width: 75%;
	height: 700px;
	margin: 10px;
	float: right;
	display: inline-block;
	margin: 60px 10px 10px 0px;
}
#recreador{
	width: 50%;
	border:2px solid black;
	margin:20px;
}

#recreador>img  {

	width: 20%;
	height: 80px;	
	float: left;
}

#recreador>h2 {
	font-family: GloriaHallelujah;
	font-size: 25px;
	text-align: center;
} 
#recreador>h3 {
	font-family: GloriaHallelujah;
	font-size: 18px;
	text-align: center;

} 
/*/////////////////////////////Principal\\\\\\\\\\\\\*/
form{
	font-family: GloriaHallelujah;
	font-size: 18px;
	width: 74%;
	text-align: center;
	margin-left: 15%;

}

#detalles{
	font-family: GloriaHallelujah;
	font-size: 18px;
	width: 74%;
	margin-left: 15%;
	padding: 10px;
}
textarea {
	width: 690px;
	height: 150px;
	background-color:#8c8c8c;
}

button{
	font-family: GloriaHallelujah;
	font-size: 18px;
	margin-left: 230px;
}

/*///////////////////////Footer\\\\\\\\\\\\\\\\\\\\\*/
footer{
	width: 100%;
	height: 68px;
	background-color:#173b9e;
	float: right;
}	
#contacto{
	display: inline-block;
	width: 15%;
	height: 100%;
	text-align: center;
	margin-left: 5%;
}
p{
	display: inline-block;
}

.icon-phone-hang-up{
	font-size: 1.5em;
}
#copy{
	display: inline-block;
	width: 30%;
	height: 60%;
	text-align:center ;
	margin-left: 15%;

}
#iconos{
	display: inline-block;
	width: 20%;
	height: 100%;
	float:right;
}
#iconos span{
	display: inline-block;
	font-size: 2em;
	padding-left: 20px; 
	margin: 10px;
}
